body {
    font-family: Arial;
    background: #f2f2f2;
    margin: 0;
}

.auth-container {
    width: 380px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.auth-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-container label {
    font-weight: bold;
    margin-top: 12px;
    display: block;
}

.auth-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin-top: 5px;
}

.auth-container button {
    width: 100%;
    padding: 10px;
    background: #242424;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.auth-container button:hover {
    background: #000;
}

.auth-container .link {
    text-align: center;
    margin-top: 10px;
}

.msg {
    background: #ffe5e5;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 4px solid red;
}
